/*=====================================================================================================================
==================================== Root Variables ===================================================================
===============*/
:root{
    --color-primary: #8a2b06;
    --color-primary-light: #d3714b;
    --color-primary-variant: #743f2a;
    --color-red: #da0f3f;
    --color-red-light: hsl(346, 87%, 46%, 15%);
    --color-green: #00c476;
    --color-green-light: hsl(156, 100%, 38%, 15%);
    --color-green-variant:  rgb(6, 160, 6);
    --color-gray-900: #1e1e66;
    --color-gray-700: #2d2b7c;
    --color-gray-300: rgb(242, 242, 254, 0.3);
    --color-gray-200: rgb(242, 242, 254, 0.7);
    --color-white: #f2f2fe;
    --color-bg:#0f0f3e;
    --color-black: rgb(26, 1, 1);

    --transition: all 300ms ease

	--container-width-lg: 74%;
	--container-width-md: 88%;
	--form-width: 40%

	--card-border-radius-1: 0.3rem;
    --card-border-radius-2: 0.5rem;
    --card-border-radius-3: 0.8rem;
    --card-border-radius-4: 2rem;
    --card-border-radius-5: 5rem;

}
/*=====================================================================================================================
==================================== GENERAL STYLES ===================================================================
===============*/
*{
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    outline: 0px;
    border: 0px;
    appearance: none;
    list-style: none;
    text-decoration: none;
}
body{
    /* background-color: var(--color-primary); */
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    color: var(--color-white);
    overflow-x: hidden;
    font-size: 0.9rem;
    line-height: 1.6;

}
a{
    text-decoration: none;
    /* color: var(--color-gray-200); */
    color: var(--color-white);
    transition: var(--transition);
}
.container{
    width: var(--container-width-lg);
    max-width: 1800px;
    margin-inline: auto;
    padding: 0 4rem;
}
section{
    /* margin-bottom: 4rem; */
    height: 692px;
    width: 100vw;
}
h1,h2,h3,h4,h5,h6{
    color: var(--color-black);
    line-height: 1.3;
}
h1{
    font-size: 3rem;
    margin: 1rem 0;
}
h2{
    font-size: 1.7rem;
    margin: 1rem 0;
}
h3{
    font-size: 1.1rem;
    margin: 0.8rem 0 0.5rem;
}
h4{
    font-size: 1rem;
}
img{
    display: block;
    width: 100%;
    object-fit: cover;
}

/*=====================================================================================================================
==================================== Category button ===================================================================
===============*/
/* .category__btn{
    background-color: var(--color-primary-light);
    color: var(--color-primary);
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: var(--card-border-radius-3);
    font-weight: 600;
    font-size: 0.8rem;
    text-align: center;
}
.category__btn:hover{
    background-color: var(--color-white);
} */
/*=====================================================================================================================
==================================== Promotion STYLES ===================================================================
===============*/
.promotion{
    width: 100%;
    height: 34px;
    background-color: var(--color-black);
    text-align: center;
    place-content: center;
}
/*=====================================================================================================================
==================================== Navbar STYLES ===================================================================
===============*/
.nav__container{
    display: flex;
    /* grid-template-columns: auto 50% auto auto; */
    width: 100%;
    height: 68px;
    background:  linear-gradient(to right, #8a2b06, #e89f71);;
    align-items: center;
    justify-content: space-around;
    color: var(--color-white);
    z-index: 10;

}
.nav__logo{
    font-size: x-large;
    font-weight: 600;
    color: var(--color-white);
}
.nav__links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5rem;
    color: var(--color-white);
}
a.nav__link{
    font-weight: 550;
    text-decoration: none;
    text-underline-offset: none;
    transition: text-underline-offset 10s ease-in-out;
}
#menu__icon{
    display: none;
    font-size: 1.5rem;
    background: transparent;
    color: var(--color-white);
    cursor: pointer;
}
a.nav__link {
    position: relative;
    text-decoration: none;
}

a.nav__link::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 2px;
    background: var(--color-white);
    transform: scaleX(0);
    transition: transform 0.3s ease-in-out;
}

a.nav__link:hover::after {
    transform: scaleX(1);
}
#cart__icon{
    background-color: transparent;
    font-size: x-large;
    color: var(--color-white);
}

/*=====================================================================================================================
==================================== Caroussel STYLES ===================================================================
===============*/
.caroussel{
    background-color: var(--color-white);
    position: relative;
    width: 100vw;
    height: 590px;
    overflow: hidden;
    box-shadow: 0 4px 10px var(--color-primary);
    /* opacity: 0.5; */
    /* border: solid 3px red; */
}
.call__to-action{
    color: var(--color-bg);
    position: absolute;
    bottom: 60px;
    left: 50%;
    transform: translate(-50%, 0);
    border-radius: 0.2rem;
    background-color: var(--color-primary);
    color: var(--color-white);
    width: 177px;
    height: 53px;
    text-align: center;
    place-content: center;
    font-weight: 600;
}
.call__to-action:hover{
    background-color: var(--color-green);
    color: var(--color-bg);
}
.caroussel__container{
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 0.5s ease-in-out;

}
.caroussel__container img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;

}
.progress-bars {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    gap: 5px;
}

.progress-bar {
    width: 50px;
    height: 8px;
    background: rgba(175, 10, 10, 0.3);
    /* border: solid red 5px; */
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.progress-bar.active::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    transform: scaleX(0);
    transform-origin: left;
    animation: progress 3s linear infinite;
}
.active__after_clicked{
    background-color: #fff;
}
@keyframes progress {
    from { transform: scaleX(0); }
    to { transform: scaleX(1); }
}
.caroussel__image{
    display: none;
}
.caroussel__image.active{
    display: block;
}
/*=====================================================================================================================
==================================== New Products Section ===================================================================
===============*/

.new__products{
    text-align: center;
    place-content: center;
    /* background-color: var(--color-green); */
    margin: 0px;
    position: relative;
    /* border-bottom: solid 1px var(--color-primary-variant); */

}
.new__products h2{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 500;
}
.pr__title{
    margin-top: 10px;
    color: var(--color-black);
}
.pr__price{
    color: var(--color-black);
}
.new__products-container{
    display: flex;
    justify-content: center;
    gap: 15px;
    /* padding: 0 2rem; */
    }
.new__product-item img{
    width: 330px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
/*=====================================================================================================================
==================================== Icon Overlay Style ===================================================================
===============*/
.icon_wrapper{
    position: relative;
}
.icon-overlay{
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--color-black);
    font-size: large;
}
/*=====================================================================================================================
==================================== Lifestyle Style ===================================================================
===============*/
.lifestyle{
    place-content: center;
    text-align: center;
    background-color: var(--color-white);
    position: relative;
    /* border: solid 1px red; */
}
.lifestyle__images{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.lifestyle__images img{
    width: 460px;
    height: 460px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
.lifestyle h2{
    text-align: center;
    font-weight: 500;
    position: absolute;
    top: 0rem;
    left: 50%;
    transform: translate(-50%, 0);
}

/*=====================================================================================================================
==================================== Bestsellers Style ===================================================================
===============*/

.best__sellers{
    text-align: center;
    place-content: center;
    /* background-color: var(--color-green); */
    margin: 0px;
    position: relative;
    /* border-bottom: solid 1px var(--color-primary-variant); */

}
.best__sellers h2{
    position: absolute;
    top: 2rem;
    left: 50%;
    transform: translate(-50%, 0);
    font-weight: 500;
}
.best__sellers-container{
    display: flex;
    justify-content: center;
    /* padding: 2rem; */
    gap: 15px;
    /* padding: 0 2rem; */
    }
.best__sellers-item img{
    width: 330px;
    height: 330px;
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
}
/*=====================================================================================================================
==================================== About Section ===================================================================
===============*/
.about{
    width: 100%;
    place-content: center;
    background-color: var(--color-white);
}
.about__container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 0 6rem;
    color: var(--color-black);
}
.about__container img {
    width: 560px;
    height: 560px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 0.2rem;
}
.about__text h2{
    text-align: center;
    /* font-size: 1.1rem; */
    font-weight: 500;
}
.about__text h5{
    font-size: 1.1rem;
    font-weight: 450;
    padding: 1rem 0;
    line-height: 1.8;
    /* border-top: solid 1px var(--color-primary-variant); */
}

/*=====================================================================================================================
==================================== Categories Section ===================================================================
===============*/
.caterogies{
    /* width: 100%; */
    /* height: fit-content; */
    border: solid 1px red;
    text-align : center;
    position: relative;
    padding: 2rem;
}
.caterogies h2{
    /* padding-bottom: 1rem; */
    color: var(--color-black);
    font-weight: 500;
}
.categories__container{
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: fit-content; */
    padding-left: 40px;
    border: solid 1px red; 
}
.categories__container button{
    cursor: pointer;
}
.categories__item{
    width: 160px;
    border: solid 1px green;
    background: none;
    position: relative;
    font-size: 1rem;
    font-weight: 500;
    color: var(--color-black);
    /* text-align: start; */
}
.progress-bar__cat{
    width: 40px;
    height: 0.2rem;
    /* border: solid 1px green; */
    display: flex;
    position: relative;
    top: 2rem;
    left: -260px;
    display: flex;
    background: var(--color-primary);
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}
.product-container{
    /* background-color: var(--color-white); */
    margin-top: 5rem;
    width: 100%;
    height: fit-content;
    display: flex;
    /* flex-wrap: wrap; */
    gap: 1rem;
    padding: 0rem 2rem;
    align-items: center;
    justify-content: center;
}
.product-item{
    color: black;
    width: 300px;
    height: 300px;
    /* border: solid 2px red; */
    place-content: center;
    background-color: var(--color-white);
    border-radius: 0.3rem;
}
.product-item img{
    overflow: hidden;
    object-fit: cover;

}
.open__product {
    padding: 0px;
    color: var(--color-white);
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 0.3rem;
    margin-top: 4rem;
    background: var(--color-primary);
    padding: 1rem 2rem;
}
.open__product:hover{
    background-color: var(--color-green);
    color: var(--color-bg);
}
/*=====================================================================================================================
==================================== Info Section ===================================================================
===============*/
.info__container{
    display: flex;
    align-items: center;
    justify-content: center;
    place-content: center;
    text-align: center;
    gap: 2rem;
    padding: 0rem 1rem;
    background-color: var(--color-white);
    box-shadow: 0 4px 10px var(--color-primary);

}
.info__container div p{
    color: var(--color-black);
}
.info__container div p i{
    font-size: 30px;
}
/*=====================================================================================================================
==================================== Footer Section ===================================================================
===============*/
footer{
    background-color: var(--color-black);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0rem 1rem;
    height: 3rem;
    text-decoration: solid 2px;
    text-underline-offset: 0px;
}
.footer a{
    color: var(--color-primary-light);
    font-weight: 500;
}
/*=====================================================================================================================
==================================== Products Page Style ===================================================================
===============*/
.categories__bar{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;

}
.categories__bar button{
    background-color: var(--color-white);
    color: var(--color-black);
    height: 2rem;
    width: 10rem;
    font-size: 1rem;
    font-weight: 450;
    cursor: pointer;
}

/*=====================================================================================================================
==================================== Media Queries (Medium Devices) ===================================================================
===============*/
@media screen and (max-width: 1024px) {
    /*======== General style ==========*/
    .container {
        width: var(--container-width-md);
        padding: 0 2rem;
    }
    .section{
        margin-bottom: 0rem;
        /* height: auto; */
    }
    h2{
        font-size: 1.6rem;
    }
    h3{
        font-size: 1.2rem;
    }
    h5{
        font-size: 0.8rem;
    }
    /*======== Nav style ==========*/
    #menu__icon{
        display: inline-block;
    }
    .nav__container{
        position: relative;
        justify-content: space-between;
        padding: 0 1rem;
        /* display: flex; */
    }
    .nav__logo{
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .nav__links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 64px;
        left: 1.5rem;
        width: 10rem;
        align-items: flex-start;
        justify-content: center;
        gap: 0px;
        text-align: center;
        box-shadow: -2rem 3rem 7rem rgba(0, 0, 0, 0.7);
    }
    .nav__links.active {
        display: flex;
    }
    .nav__links li{
        width: 100%;
        height: 3.5rem;
        display: flex;
        align-items: center;
        background: var(--color-primary-light);
        border-top: 1px solid var(--color-primary);
        transform: rotateX(90deg);
        transform-origin: top;
        opacity: 0;
        animation: animateDropdown 400ms 0s ease forwards;
        transition: all var(--transition) ease;
    }
    .nav__links li a{
        border-radius: 0px;
        padding: 0 1rem;

    }
    a.nav__link::after {
        background: transparent;
    }
    /* nav dropdown animation */
    @keyframes animateDropdown {
        0% {
            transform: rotateX(90deg);
            opacity: 0;
         }
        100% {
            transform: rotateX(0deg);
            opacity: 1;
         }
    }
    .nav__links li:nth-child(2){
        animation-delay: 200ms;
    }
    .nav__links li:nth-child(3){
        animation-delay: 400ms;
    }
    .nav__links li:nth-child(4){
        animation-delay: 600ms;
    }
    .about__container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        place-content: center;
        gap: 0px;
        justify-content: center;
    }
    img.about__image  {
        width: 100%;
        border-radius: 0.2rem;
    }

    /*======== new products style ==========*/
    section:nth-child(2){
        height: 1680px;
    }
    .new__products{
        text-align: center;
        place-content: center;
        /* background-color: var(--color-green); */
        margin: 0px;
        padding: 0px;
        position: relative;
        border: solid 1px red;
    }
    .new__products h2{
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .pr__title{
        margin-top: 5px;
        color: var(--color-black);
        padding: 0px;
    }
    .pr__price{
        color: var(--color-black);
        padding: 0px;
    }
    .new__products-container{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
        gap: 5px;
        place-content: center;
        }
    .new__product-item{
        padding-bottom: 0.8rem;

    }
    .new__product-item img{
        /* width: 230px;
        height: 230px; */
        border-radius: 10px;
        place-content: center;
        overflow: hidden;
        object-fit: cover;
    }
    /*======== Lifestyle style ==========*/
    section:nth-child(3){
        height: 300px;
        margin: 0px;
        padding: 0px;
    }
    .lifestyle{
        place-content: center;
        text-align: center;
        background-color: var(--color-white);
        position: relative;
        /* border: solid 1px red; */
    }
    .lifestyle__images{
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 0.3rem;
    }
    .lifestyle__images img{
        width: 159px;
        height: 159px;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
    }
    .lifestyle h2{
        text-align: center;
        font-weight: 500;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    /*======== Bestsellersstyle ==========*/
    section:nth-child(4){
        height: 1680px;
    }
    .best__sellers{
        text-align: center;
        place-content: center;
        margin: 0px;
        padding: 0px;
        position: relative;
    }
    .best__sellers h2{
        position: absolute;
        top: 1rem;
        left: 50%;
        transform: translate(-50%, 0);
        font-weight: 500;
    }
    .best__sellers-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        top: 5rem;
        left: 50%;
        transform: translate(-50%, 0);
        /* padding: 2rem; */
        gap: 5px;
        /* padding: 0 2rem; */
        }
    .best__sellers-item img{
        width: 330px;
        height: 330px;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;
    }
    /*======== About style ==========*/
    section:nth-child(5){
        height: 800px;
        border: solid 1px red;
        position: relative;
    }
    .about{
        width: 100%;
        place-content: center;
        background-color: var(--color-white);
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%, 0);

    }
    .about__container{
        display: flex;
        flex-direction: column-reverse;
        text-align: center;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
        padding: 0.3rem;
        margin: 0px;
        color: var(--color-black);
    }
    .about__container img {
        width: 460px;
        height: 460px;
        object-fit: cover;
        overflow: hidden;
        border-radius: 0.2rem;
    }
    .about__text h2{
        font-weight: 500;
        position: absolute;
        top: 0rem;
        left: 50%;
        transform: translate(-50%, 0);
    }
    .about__text h5{
        font-size: 1.1rem;
        font-weight: 450;
        line-height: 1.8;
        /* border-top: solid 1px var(--color-primary-variant); */
    }
/*======== Categories style ==========*/
    .caterogies{
        /* width: 100%; */
        /* height: fit-content; */
        border: solid 1px red;
        text-align: center;
        position: relative;
        padding: 0px;
        margin: 0px;
        place-content: center;
    }
    .caterogies h2{
        /* padding-bottom: 1rem; */
        color: var(--color-black);
        font-weight: 500;
    }
    .categories__container{
        display: flex;
        gap: 0px;
        justify-content: center;
        padding: 0px;
        margin: 0px;
        
    }
    .categories__item{
        width: 140px;
        /* border: solid 1px red; */
        background: none;
        position: relative;
        font-size: 1rem;
        font-weight: 500;
        color: var(--color-black);
        padding: 0px;
        margin: 0px;
    }
    .progress-bar__cat{
        width: 40px;
        height: 0.2rem;
        /* border: solid 1px green; */
        display: flex;
        position: relative;
        top: 2rem;
        left: -185px;
        display: flex;
        background: var(--color-primary);
        border-radius: 5px;
        transition: all 0.3s ease-in-out;
    }
    .product-container{
        display: grid;
        grid-template-columns: auto auto;
        gap: 1rem;
        /* padding: 0rem 2rem; */
        align-items: center;
        justify-content: center;
    }
    .product-item{
        color: black;
        width: 200px;
        height: 200px;
        /* border: solid 2px red; */
        place-content: center;
        background-color: var(--color-white);
        border-radius: 0.3rem;
    }
    .product-item img{
        width: 200px;
        height: 200px;
        border-radius: 10px;
        overflow: hidden;
        object-fit: cover;

    }
    .open__product {
        padding: 0px;
        color: var(--color-white);
        font-weight: 700;
        font-size: 1.1rem;
        border-radius: 0.3rem;
        margin-top: 1rem;
        background: var(--color-primary);
        padding: 1rem 2rem;
    }
    .open__product:hover{
        background-color: var(--color-green);
        color: var(--color-bg);
    }
}

